div {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 80%;
  height: auto;
}

body {
  background-color: rgb(39, 39, 39);
  color: rgb(210, 210, 210);
}

.textcenter {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.expand-on-hover {
  transition: transform 0.2s ease-in-out;
}

.expand-on-hover:hover {
  transform: scale(1.05);
  /* Increases size by 5% */
}

input {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(200, 0, 255);
}
button {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(200, 0, 255);
}
