div {
  font-family: "Roboto", sans-serif;
}

img {
  height: auto;
}

body {
  background-color: rgb(39, 39, 39);
  color: rgb(210, 210, 210);
}

.textcenter {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.expand-on-hover {
  transition: transform 0.2s ease-in-out;
}

.expand-on-hover:hover {
  transform: scale(1.05);
  /* Increases size by 5% */
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #0056b3;
}

