<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Booking</title>
  <style></style>
  <link rel="stylesheet" href="../static/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <style>
    #seats-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .row-div {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  </style>
</head>

<body>
  <div style="justify-content: center; display: flex; align-items: center">
    <div class="textcenter floating-box">
      <h1 class="title-box">welcome to the booking page</h1>
      <div class="" style="justify-items: center">
        <select id="available-flights"></select>
      </div>
      <div id="seats-div"></div>
      <div>
        <button type="submit" id="book_flight" class="expand-on-hover button-cool">
          Book Flight
        </button>
      </div>
    </div>
  </div>
  <script src="../static/booking.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>
