<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <style>

    </style>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="textcenter">
        <h1>welcome to the booking page</h1>
        <form action="/booking/create_booking" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
            <label for="email">Name:</label>
            <input type="email" name="email" id="email">
            <label for="seat">Name:</label>
            <input type="text" name="snum" id="snum">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>