<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyalty</title>
    <style>

    </style>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        <h1>welcome to the loyaty page</h1>
        <form action="/loyalty/signup">
            <label for=""></label>
            <input type="text" name="username" id="username">
            <label for="email"></label>
            <input type="text" name="email" id="email">
            <label for="password"></label>
            <input type="text" name="password" id="password">
            <input type="submit" value="Submit">

        </form>
    </div>
</body>
</html>