<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>

    <link rel="stylesheet" href="../static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .input-sized {
        width: 100%;
        max-width: 400px;
        margin-bottom: 15px;
      }
    </style>
  </head>

  <body class="textcenter">
    <div class="" style="margin: auto;  justify-items: center;">
      <form
        id="register"
        style="display: block; text-align: center; width: 400px;"
      >
        <div class="input-container input-sized">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
            class="expand-on-hover"
          />
        </div>

        <div class="input-container input-sized">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
            class="expand-on-hover"
          />
        </div>

        <div class="input-container input-sized">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email@flydreamair.com"
            required
            class="expand-on-hover"
          />
        </div>

        <div class="input-container input-sized">
          <button type="submit" class="expand-on-hover">Register User</button>
        </div>
      </form>
      <div id="feedbackmessage" class="textcenter"></div>
    </div>
    <script src="../static/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
